<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1>Pick a Box | I choose you!
        <small class="btn btn-primary" (click)="reset()">Reset</small></h1>
    </div>

    <div class="col-lg-12">
      <div class="grp-btn">
        <button 
          *ngFor="let obj of empList"
          id="{{obj.index}}"
          class="box {{obj.price}} {{obj.active}} {{obj.nextline}}"
          (click)="activate($event)"></button>
      </div>
    </div>

  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header {{gold ? 'gold' : ''}} {{silver ? 'silver' : ''}} {{bronze ? 'bronze' : ''}}">
    <h4 *ngIf="!win" class="modal-title" id="modal-basic-title">Thank you for playing!</h4>
    <h4 *ngIf="win" class="modal-title" id="modal-basic-title">Congratulations!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div *ngIf="win && gold">
          <img src="./assets/images/gold.gif" />
          <h4>You won a WINE!</h4>
        </div>

        <div *ngIf="win && silver">
          <img src="./assets/images/silver.gif" />
          <h4>You won a MAGNET!</h4>
        </div>

        <div *ngIf="win && bronze">
          <img src="./assets/images/bronze.gif" />
          <h4>You won a PEN!</h4>
        </div>

        <img src="./assets/images/thankyou.gif" *ngIf="!win" />
      </div>
    </form>
  </div>
</ng-template>
