/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("/mivo-game/assets/images/map-bg.gif");
}

.box {
  width: 45px;
  height: 45px;
  margin-bottom: 5px;
  margin-right: 5px;
  border: 1px solid;
  border-radius: 5px;
  float: left;
  background-image: url("/mivo-game/assets/images/logo.png");
  background-repeat: no-repeat;
  background-size: 45px 45px;
}

.box.active {
  background: indianred;
}

.box.active.gold,
.modal-header.gold {
  background: gold;
}

.box.active.silver,
.modal-header.silver {
  background: silver;
}

.box.active.bronze,
.modal-header.bronze {
  background: #cd7f32;
}

.clear {
  clear: left;
}

h1 {
  text-align: center;
}

.grp-btn {
  display: inline-block;
  position: relative;
  margin: 0 auto;
}

.outer-div {
  position: relative;
  float: right;
  right: 50%;
}

.inner-div {
  position: relative;
  float: right;
  right: -50%;
  position: relative;
  margin: 0 auto;
}

form .form-error {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 14px;
  color: #c31f09;
  display: none;
}

form .form-group.input-error .form-error {
  display: block !important;
}

form .form-group.input-error input,
form .form-group.input-error select {
  border: 2px solid #c31f09 !important;
}

.box.gold {
  border: 1px solid gold;
}

.box.silver {
  border: 1px solid silver;
}

.box.bronze {
  border: 1px solid #cd7f32;
}